doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ./email.css
    body 
        h2 Confirmar tu cuenta UpTask
        p Hola has creado una cuenta en UpTask, para confirmar tu cuenta da click en el siguiente enlace
        a(href=`${confirmarUrl}`) Confirmar cuenta
        p si no puedes acceder a este enlace, visita #{confirmarUrl}
        